
<h2>Hitung Luas Segitiga</h2><br>
<form method="POST">
    <label for="alas">Masukan Alas :</label><br>
    <input type="text" name="alas" /><br><br>
    <label for="tinggi">Masukan Tinggi :</label><br>
    <input type="text" name="tinggi" /><br><br>
    <button type="submit">Hitung</button>
</form>